@import 'bourbon/bourbon';

.section {
	width: 80%;
	margin: 40px auto 40px auto;
	padding: 20px;
	@include background(linear-gradient(top, #fef 0%, #fff 50%, #fef 100%));
	border-radius: 30px;
}

.section p {
	font-family: Helvetica, Arial, san-serif;
	line-height: 1.7em;
	padding-top: 10px;
	padding-bottom: 10px;
}

#contacts {
	text-align: center;
	padding-top: 10px;
}

#contacts a {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}
