- content_for :vars do
	- @title = "Manoj Dayaram"

.section
	:markdown
		Hello there, welcome to my site!  My name is Manoj Dayaram,
		and I'm probably #{currently_doing?} right now.

.section
	:markdown
		If you came here to find out what I like, well then, I like fire,
		fruit parfaits, [hugs](/p/everybodyhurts), tea, computer science
		education, [pocket watches](http://www.iwcpocketwatch.com/),
		puppies, [kittens](http://www.lolcats.com),
		[ponies](http://mlp.wikia.com),
		top hats, monocles, half-belts, nail art,
		gloves, alpacas, grilled cheese, port, moscato,
		[chartreuse](http://www.chartreuse.fr/green-chartreuse;fiche;3;uk.html),
		[b&amp;b](http://www.bandbliqueur.com/), magic, and
		[drawing](http://blog.noj.cc/tagged/sketch).  If you know I like
		something that's not on this list, then I probably either missed
		it, or I lied to you.

.section
	:markdown
		I will occasionally write [random musings](http://blog.noj.cc) about life
		and such whenever I get the time or have a good idea.  It's mostly brain
		dump for me, but perhaps it is of interest to you.

.section
	:markdown
		Unfortunately, there's not much else here, but if you'd like to find out
		more about me, you can always get in touch with me through other channels.
	#contacts
		- get_contacts.each do |name, info|
			- onclick = info.length > 2 ? info[2] : ""
			%a{ :href => info[0], :title => name, :onclick => onclick }
				%img{ :src => info[1], :alt => name }

.section
	:markdown
		Still looking for more? Well, here's a picture of Beowulf ripping
		Grendel's arm off.

		![Nobody messes with Beowulf.](/images/beowulf.jpg)

.section
	:markdown
		And that's that...

		![You're done!](/images/youredone.gif)

