- content_for :vars do
	- @title = "Manoj Dayaram"

.section
	:markdown
		Hello there, welcome to my site!  My name is Manoj Dayaram,
		and I'm probably #{currently_doing?} right now.

.section
	:markdown
		If you came here to find out what I like, well then, I like fire,
		fruit parfaits, [hugs](/p/everybodyhurts), tea, computer science
		education, [pocket watches](http://www.iwcpocketwatch.com/),
		puppies, [kittens](http://www.lolcats.com),
		[ponies](http://mlp.wikia.com),
		top hats, monocles, [spoons](https://medium.com/@_noj_/the-ultimate-eating-utensil-33831153972f),
		half-belts, [nail art](https://www.youtube.com/watch?v=DaYfonm51Lo),
		gloves, alpacas, [chocolate](http://www.dandelionchocolate.com/),
		grilled cheese, [juggling](/images/manoj_diabolo.gif),
		port, moscato,
		[chartreuse](http://www.chartreuse.fr/green-chartreuse;fiche;3;uk.html),
		[b&amp;b](http://www.bandbliqueur.com/), magic, and
		[drawing](http://blog.noj.cc/tagged/sketch).  If you know I like
		something that's not on this list, then I probably either missed
		it, or I lied to you.

.section
	:markdown
		I will occasionally write [random musings](http://blog.noj.cc) about life
		and such whenever I get the time or have a good idea.  It's mostly brain
		dump for me, but perhaps it is of interest to you.

.section
	:markdown
		Unfortunately, there's not much else here, but if you'd like to find out
		more about me, you can always get in touch with me through other channels.
	#contacts
		- get_contacts.each do |name, info|
			- onclick = info.length > 2 ? info[2] : ""
			%a{ :href => info[0], :title => name, :onclick => onclick }
				%img{ :src => info[1], :alt => name }

.section
	:markdown
		Thanks for stopping by!  Due to the nature of our meeting, we will have to
		settle for virtual hugs for now, but looking forward to hug you for real
		soon!

.section
	%img{ :src => "/images/virtual-hug.gif", :alt => "&lt;3" }

