- content_for :vars do
	- @title = "Manoj Dayaram"

.section
	%p
		= "Hello there, welcome to my site!  My name is Manoj Dayaram, and I'm probably #{currently_doing?} right now."


.section
	%p
		= "Unfortunately, there's not much there, but if you'd like to find out more about me, you can always get in touch with me through other channels."
	#contacts
		- get_contacts.each do |name, info|
			%a{ :href => info[0], :title => name }
				%img{ :src => info[1], :alt => name }

