%head
	%title= "Manoj Dayaram"
	%link{ :rel => "stylesheet", :type => "text/css", :href => "/styles/main.css" }
	%link{ :href => 'http://fonts.googleapis.com/css?family=Rambla:400', :rel => 'stylesheet', :type => 'text/css' }
	%script{ :type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' }

%body
	#all-the-things
		%header
			#h_lb [
			#title Manoj Dayaram
			#h_rb ]

		.content
			=yield

		%footer
			%div= "Yo dawg, I heard yo and yo dawg like footers, so we put a footer in your footer so you can foot your footer, dawg."
			%div= "Copyright &copy; 2012 Manoj Dayaram. All rights reserved."
