header {
	display: block;
	position: relative;
	width: 100%;
	height: $header_height;
	margin-top: 20px;
	font-family: $header_font;
	font-size: $header_font_size;
}

#h_lb {
	float: left;
}
#h_rb {
	float: right;
}
#title {
	text-align: center;
	width: 100%;
	position: absolute;
}

