---
---
@import 'bourbon/bourbon';

p {
  font-family: Helvetica, Arial, san-serif;
  font-size: 16px;
  line-height: 1.7em;
  padding: 30px 20px 30px 20px;
  width: 80%;
  margin: auto;
}

#contacts {
  text-align: center;
  padding-top: 10px;
}

#contacts a {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
