body, html {
	padding: 0px;
	margin: 0px;
	color: #000;
	background: #fff;
}

#sink {
	padding-top: 20px; 
	display: table;
	width: 100%;
}

#west-nav {
	display: table-cell;
	width: $west_width;
	vertical-align: top;
}
#west-nav-wrapper {
	width: $west_wrapper_width;
	margin-left: auto;
	margin-right: auto;
}

#east-nav {
	display: table-cell;
	vertical-align: top;
}
#east-nav-wrapper {
	margin-right: $east_wrapper_pad;
}


#profile {
	width: $profile_width;
	height: $profile_width;
	margin-left: auto;
	margin-right: auto;
}
#profile img {
	width: $profile_width;
	height: $profile_width;
	border-radius: 10px;
}


#contact {
	text-align: center;
}

#contact a { 
	display: inline-block; 
	margin: 10px;
}


.content {
	display: inline-block;
}
