---
---
@import 'bourbon/bourbon';
@import '_variables';

header {
	min-height: 100%;
	background-size: 100% !important;
	background-repeat: no-repeat !important;
	background-position: 0 0 !important;
	color: #fff;
}

header h1 {
	max-width: $max-width;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva;
	font-weight: 700;
	font-style: normal;
	font-size: 60px;
	margin-left: -3px;
	line-height: 1;
	letter-spacing: -0.04em;
	margin-bottom: 8px;
}

header h2 {
	max-width: $max-width;
	font-family: Georgia, Cambria, "Times New Roman", Times;
	letter-spacing: 0.01em;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	line-height: 1.5;
}
